In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive

/content/drive

In [ ]:
cd My Drive

/content/drive/My Drive

In [ ]:
#!wget -O "solar_radiation_prediction_ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/a379f6594a948741d92dba42178aff0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20201204%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20201204T090308Z&X-Amz-Expires=1800&X-Amz-Signature=b4261ab27bb6c2b40644a1f1180b6dc81abbdc5415a7adcd906ce56b6f325ff6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22solar_radiation_prediction_ai_challenge-dataset.zip%22"

In [ ]:
#!unzip solar_radiation_prediction_ai_challenge-dataset.zip -d solar_radiation_prediction_ai_challenge-dataset

In [ ]:
cd solar_radiation_prediction_ai_challenge-dataset

/content/drive/My Drive/solar_radiation_prediction_ai_challenge-dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('TRAIN.csv')

In [ ]:
df

         idx    UNIXTime                    Data  ...  Speed  TimeSunRise  TimeSunSet
0          0  1480107904  11/25/2016 12:00:00 AM  ...  13.50     06:37:00    17:42:00
1          1  1472818508    9/2/2016 12:00:00 AM  ...   6.75     06:07:00    18:37:00
2          2  1475804719   10/6/2016 12:00:00 AM  ...   1.12     06:15:00    18:07:00
3          3  1482533149  12/23/2016 12:00:00 AM  ...  11.25     06:54:00    17:50:00
4          4  1481883019  12/16/2016 12:00:00 AM  ...   2.25     06:50:00    17:46:00
...      ...         ...                     ...  ...    ...          ...         ...
26144  26144  1479968101  11/23/2016 12:00:00 AM  ...   5.62     06:36:00    17:42:00
26145  26145  1475761224   10/6/2016 12:00:00 AM  ...   6.75     06:15:00    18:07:00
26146  26146  1476618020  10/16/2016 12:00:00 AM  ...   6.75     06:18:00    17:59:00
26147  26147  1473947404   9/15/2016 12:00:00 AM  ...   1.12     06:10:00    18:26:00
26148  26148  1474389307   9/20/2016 12:00:00 AM  ...   4.50     06:11:00    18:21:00

[26149 rows x 12 columns]

In [ ]:
X=df.iloc[:,5:10].values

In [ ]:
X

array([[ 46.  ,  30.48, 101.  , 129.84,  13.5 ],
       [ 50.  ,  30.42,  75.  , 173.9 ,   6.75],
       [ 54.  ,  30.42, 100.  ,   7.35,   1.12],
       ...,
       [ 49.  ,  30.5 ,  24.  , 185.06,   6.75],
       [ 49.  ,  30.41,  92.  , 122.89,   1.12],
       [ 46.  ,  30.4 ,  41.  , 160.47,   4.5 ]])

In [ ]:
y=df.iloc[:,4].values

In [ ]:
y

array([288.44,   2.79, 118.05, ...,   1.22,   1.25,  15.62])

In [ ]:
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from keras import backend as K

In [ ]:
def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true)))

In [ ]:

def baseline_model():
  model = Sequential()
  model.add(Dense(16, input_dim=5, kernel_initializer='HeUniform', activation='relu'))
  model.add(Dense(32,kernel_initializer='HeUniform',activation='relu'))
  model.add(Dense(32,kernel_initializer='HeUniform',activation='relu'))
  model.add(Dense(1, kernel_initializer='normal'))
	# Compile model
  model.compile(loss=root_mean_squared_error, optimizer='rmsprop')
  return model

In [ ]:
model=baseline_model()
model.fit(X,y,epochs=100,batch_size=32)

Epoch 1/100
818/818 [==============================] - 1s 898us/step - loss: 316.5107
Epoch 2/100
818/818 [==============================] - 1s 897us/step - loss: 248.5955
Epoch 3/100
818/818 [==============================] - 1s 923us/step - loss: 216.2900
Epoch 4/100
818/818 [==============================] - 1s 933us/step - loss: 207.8608
Epoch 5/100
818/818 [==============================] - 1s 920us/step - loss: 203.7036
Epoch 6/100
818/818 [==============================] - 1s 916us/step - loss: 195.3331
Epoch 7/100
818/818 [==============================] - 1s 896us/step - loss: 197.6107
Epoch 8/100
818/818 [==============================] - 1s 896us/step - loss: 192.3436
Epoch 9/100
818/818 [==============================] - 1s 916us/step - loss: 189.5172
Epoch 10/100
818/818 [==============================] - 1s 923us/step - loss: 188.5082
Epoch 11/100
818/818 [==============================] - 1s 915us/step - loss: 187.8705
Epoch 12/100
818/818 [==============================] - 1s 895us/step - loss: 185.0645
Epoch 13/100
818/818 [==============================] - 1s 910us/step - loss: 184.7761
Epoch 14/100
818/818 [==============================] - 1s 912us/step - loss: 186.2482
Epoch 15/100
818/818 [==============================] - 1s 917us/step - loss: 185.6991
Epoch 16/100
818/818 [==============================] - 1s 971us/step - loss: 184.2017
Epoch 17/100
818/818 [==============================] - 1s 957us/step - loss: 184.3015
Epoch 18/100
818/818 [==============================] - 1s 899us/step - loss: 184.6883
Epoch 19/100
818/818 [==============================] - 1s 953us/step - loss: 183.8396
Epoch 20/100
818/818 [==============================] - 1s 933us/step - loss: 183.7305
Epoch 21/100
818/818 [==============================] - 1s 901us/step - loss: 185.8866
Epoch 22/100
818/818 [==============================] - 1s 908us/step - loss: 181.7981
Epoch 23/100
818/818 [==============================] - 1s 903us/step - loss: 184.3774
Epoch 24/100
818/818 [==============================] - 1s 980us/step - loss: 181.7771
Epoch 25/100
818/818 [==============================] - 1s 955us/step - loss: 180.7626
Epoch 26/100
818/818 [==============================] - 1s 915us/step - loss: 179.3040
Epoch 27/100
818/818 [==============================] - 1s 970us/step - loss: 179.7638
Epoch 28/100
818/818 [==============================] - 1s 940us/step - loss: 179.0557
Epoch 29/100
818/818 [==============================] - 1s 915us/step - loss: 178.9618
Epoch 30/100
818/818 [==============================] - 1s 1ms/step - loss: 177.1617
Epoch 31/100
818/818 [==============================] - 1s 908us/step - loss: 180.4012
Epoch 32/100
818/818 [==============================] - 1s 904us/step - loss: 180.3001
Epoch 33/100
818/818 [==============================] - 1s 920us/step - loss: 179.6026
Epoch 34/100
818/818 [==============================] - 1s 923us/step - loss: 178.6537
Epoch 35/100
818/818 [==============================] - 1s 908us/step - loss: 177.7044
Epoch 36/100
818/818 [==============================] - 1s 916us/step - loss: 176.1627
Epoch 37/100
818/818 [==============================] - 1s 921us/step - loss: 177.3775
Epoch 38/100
818/818 [==============================] - 1s 907us/step - loss: 176.9762
Epoch 39/100
818/818 [==============================] - 1s 964us/step - loss: 176.6638
Epoch 40/100
818/818 [==============================] - 1s 888us/step - loss: 179.1028
Epoch 41/100
818/818 [==============================] - 1s 971us/step - loss: 176.0659
Epoch 42/100
818/818 [==============================] - 1s 904us/step - loss: 176.4308
Epoch 43/100
818/818 [==============================] - 1s 953us/step - loss: 176.3106
Epoch 44/100
818/818 [==============================] - 1s 939us/step - loss: 176.2444
Epoch 45/100
818/818 [==============================] - 1s 946us/step - loss: 179.1645
Epoch 46/100
818/818 [==============================] - 1s 916us/step - loss: 177.0391
Epoch 47/100
818/818 [==============================] - 1s 969us/step - loss: 177.1526
Epoch 48/100
818/818 [==============================] - 1s 899us/step - loss: 177.1815
Epoch 49/100
818/818 [==============================] - 1s 957us/step - loss: 175.7707
Epoch 50/100
818/818 [==============================] - 1s 913us/step - loss: 176.8132
Epoch 51/100
818/818 [==============================] - 1s 959us/step - loss: 175.7840
Epoch 52/100
818/818 [==============================] - 1s 973us/step - loss: 174.0166
Epoch 53/100
818/818 [==============================] - 1s 939us/step - loss: 175.3236
Epoch 54/100
818/818 [==============================] - 1s 899us/step - loss: 176.1538
Epoch 55/100
818/818 [==============================] - 1s 941us/step - loss: 175.9275
Epoch 56/100
818/818 [==============================] - 1s 897us/step - loss: 179.7231
Epoch 57/100
818/818 [==============================] - 1s 911us/step - loss: 175.9994
Epoch 58/100
818/818 [==============================] - 1s 912us/step - loss: 175.2437
Epoch 59/100
818/818 [==============================] - 1s 894us/step - loss: 174.8800
Epoch 60/100
818/818 [==============================] - 1s 905us/step - loss: 176.5183
Epoch 61/100
818/818 [==============================] - 1s 897us/step - loss: 176.0456
Epoch 62/100
818/818 [==============================] - 1s 916us/step - loss: 176.3665
Epoch 63/100
818/818 [==============================] - 1s 924us/step - loss: 173.2281
Epoch 64/100
818/818 [==============================] - 1s 984us/step - loss: 175.6699
Epoch 65/100
818/818 [==============================] - 1s 973us/step - loss: 173.3379
Epoch 66/100
818/818 [==============================] - 1s 1ms/step - loss: 175.3915
Epoch 67/100
818/818 [==============================] - 1s 982us/step - loss: 176.7786
Epoch 68/100
818/818 [==============================] - 1s 1ms/step - loss: 176.0161
Epoch 69/100
818/818 [==============================] - 1s 1ms/step - loss: 174.4298
Epoch 70/100
818/818 [==============================] - 1s 951us/step - loss: 177.1817
Epoch 71/100
818/818 [==============================] - 1s 909us/step - loss: 175.0075
Epoch 72/100
818/818 [==============================] - 1s 917us/step - loss: 174.2621
Epoch 73/100
818/818 [==============================] - 1s 911us/step - loss: 174.8817
Epoch 74/100
818/818 [==============================] - 1s 949us/step - loss: 177.8506
Epoch 75/100
818/818 [==============================] - 1s 921us/step - loss: 176.6125
Epoch 76/100
818/818 [==============================] - 1s 935us/step - loss: 175.4190
Epoch 77/100
818/818 [==============================] - 1s 944us/step - loss: 174.0323
Epoch 78/100
818/818 [==============================] - 1s 1ms/step - loss: 175.6200
Epoch 79/100
818/818 [==============================] - 1s 943us/step - loss: 172.9335
Epoch 80/100
818/818 [==============================] - 1s 939us/step - loss: 175.1083
Epoch 81/100
818/818 [==============================] - 1s 925us/step - loss: 175.5911
Epoch 82/100
818/818 [==============================] - 1s 920us/step - loss: 171.5079
Epoch 83/100
818/818 [==============================] - 1s 934us/step - loss: 173.0714
Epoch 84/100
818/818 [==============================] - 1s 907us/step - loss: 177.7687
Epoch 85/100
818/818 [==============================] - 1s 945us/step - loss: 175.7055
Epoch 86/100
818/818 [==============================] - 1s 883us/step - loss: 172.9238
Epoch 87/100
818/818 [==============================] - 1s 951us/step - loss: 175.8843
Epoch 88/100
818/818 [==============================] - 1s 944us/step - loss: 173.1795
Epoch 89/100
818/818 [==============================] - 1s 945us/step - loss: 172.9463
Epoch 90/100
818/818 [==============================] - 1s 940us/step - loss: 176.0028
Epoch 91/100
818/818 [==============================] - 1s 916us/step - loss: 174.7661
Epoch 92/100
818/818 [==============================] - 1s 928us/step - loss: 175.8644
Epoch 93/100
818/818 [==============================] - 1s 960us/step - loss: 176.0706
Epoch 94/100
818/818 [==============================] - 1s 977us/step - loss: 174.5149
Epoch 95/100
818/818 [==============================] - 1s 945us/step - loss: 172.1775
Epoch 96/100
818/818 [==============================] - 1s 928us/step - loss: 175.2620
Epoch 97/100
818/818 [==============================] - 1s 917us/step - loss: 173.1590
Epoch 98/100
818/818 [==============================] - 1s 922us/step - loss: 170.6003
Epoch 99/100
818/818 [==============================] - 1s 938us/step - loss: 174.7444
Epoch 100/100
818/818 [==============================] - 1s 914us/step - loss: 175.5410

In [ ]:
Xtest=pd.read_csv('TEST.csv')

In [ ]:
Xtest

       idx    UNIXTime                    Data  ...  Speed  TimeSunRise  TimeSunSet
0        0  1482775250  12/26/2016 12:00:00 AM  ...   4.50     06:55:00    17:51:00
1        1  1482774940  12/26/2016 12:00:00 AM  ...  10.12     06:55:00    17:51:00
2        2  1482774649  12/26/2016 12:00:00 AM  ...   5.62     06:55:00    17:51:00
3        3  1482774351  12/26/2016 12:00:00 AM  ...   7.87     06:55:00    17:51:00
4        4  1482774039  12/26/2016 12:00:00 AM  ...  10.12     06:55:00    17:51:00
...    ...         ...                     ...  ...    ...          ...         ...
6532  6532  1480587604   12/1/2016 12:00:00 AM  ...   6.75     06:41:00    17:42:00
6533  6533  1480587301   12/1/2016 12:00:00 AM  ...   6.75     06:41:00    17:42:00
6534  6534  1480587001   12/1/2016 12:00:00 AM  ...   9.00     06:41:00    17:42:00
6535  6535  1480586702   12/1/2016 12:00:00 AM  ...   7.87     06:41:00    17:42:00
6536  6536  1480586402   12/1/2016 12:00:00 AM  ...   3.37     06:41:00    17:42:00

[6537 rows x 11 columns]

In [ ]:
testX=Xtest.iloc[:,4:9].values

In [ ]:
y_pred=model.predict(testX)

In [ ]:
y_pred[1][0]

50.815197

In [ ]:
csvlist=[]
for i in range(y_pred.shape[0]):
  csvlist.append([i,y_pred[i][0]])

In [ ]:
df=pd.DataFrame(csvlist,columns=['idx','Radiation'])
df.to_csv('output.csv',index=False)

In [ ]:
seed = 42
estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=1000, batch_size=32, verbose=1)
kfold = KFold(n_splits=10, random_state=seed,shuffle=True)
results = cross_val_score(estimator, X, y, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

estimator.fit(X, y)

736/736 [==============================] - 1s 934us/step - loss: 326.9836
82/82 [==============================] - 0s 764us/step - loss: 231.6058
736/736 [==============================] - 1s 933us/step - loss: 326.2130
82/82 [==============================] - 0s 791us/step - loss: 233.3638
736/736 [==============================] - 1s 936us/step - loss: 318.2609
82/82 [==============================] - 0s 863us/step - loss: 232.7029
736/736 [==============================] - 1s 878us/step - loss: 319.3423
82/82 [==============================] - 0s 763us/step - loss: 238.5096
736/736 [==============================] - 1s 913us/step - loss: 325.3204
82/82 [==============================] - 0s 714us/step - loss: 226.4815
736/736 [==============================] - 1s 951us/step - loss: 322.7913
82/82 [==============================] - 0s 760us/step - loss: 229.7144
736/736 [==============================] - 1s 913us/step - loss: 317.6562
82/82 [==============================] - 0s 799us/step - loss: 233.1194
736/736 [==============================] - 1s 913us/step - loss: 319.9552
82/82 [==============================] - 0s 755us/step - loss: 242.1932
736/736 [==============================] - 1s 898us/step - loss: 315.4673
82/82 [==============================] - 0s 791us/step - loss: 240.2066
736/736 [==============================] - 1s 934us/step - loss: 323.2063
82/82 [==============================] - 0s 719us/step - loss: 233.6195
Results: -234.15 (4.58) MSE
818/818 [==============================] - 1s 889us/step - loss: 321.0284

In [ ]:
prediction = estimator.predict(X_test)
accuracy_score(Y_test, prediction)